.show {
	height: 50vh;
	background-position: center;
}
#profil-pic {
	width: 80px;
}
.details {
	display: flex;
	align-items: center;
	padding: 30px;
	padding-left: 0;
	h1 {
		font-size: 18px;
	}
	p {
		font-size: 12px;
		color: #777777;
	}
	i {
		color: #ffb400;
	}
}
.user {
	text-align: center;
	padding: 20px;
}
.flat-desc h1, p {
	margin-top: 0;
}
.flat-form form {
	background: #F4F4F4;
	padding: 15px;
	margin: 20px 0;
	h4 {
		font-size: 20px;
		margin-top: 0;
	}
}
.header-flat {
	background: white;
}
.form-control {
	font-size: 12px;
	margin-bottom: 15px;
}
#selector {
	width: 100%;
}
.btn-danger {
	width: 100%;
}